* {
    margin: 0;
    padding: 0;
}

body {
    background-color:snow;
    font-family: "Andale Mono";
}
.top_photo{
    background-color: cadetblue;
}
.title_photo {
    width: 100%;
    color: black;
    position: absolute;
    top: 150px;
    text-align: center;
}
.navbar{
    position: relative;
    margin: 20px auto;
    color: white;
    border-radius: 4px;
    background: #838e84;
    height: 50px;
    width:100%;
    z-index: 10;
 }

.nav_1 ul{
    position: absolute;
    list-style-type: none;
    margin: 0px;
    top: 1px;
    width: auto;
    left: 180px;
    letter-spacing: 5px;

}
.nav_1 ul li {
    display: inline-block;
    line-height: 50px;
}

hr {
    margin: 0 auto;
    width: 60%;
    color: #f8f7f9;
}

.photo {
    position: relative;
    top: 180px;
}

.box {

    padding: 15px 0 0 15px;
    float: left;
}

/*.pic{*/
/*background-color: aliceblue;*/
/*padding: 5px;*/
/*border: 1px solid #cccccc;*/
/*border-radius: 4px;*/
/*box-shadow: 0 0 ;*/
/*}*/